* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

/*---------Header and Footer CSS----------*/
nav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #4f11df;
  color: white;
  box-shadow: 0px 0px 24px 0px black;
}

/*The page that the user is currently on is underlined - helps to show position on site*/
.active {
  text-decoration: underline;
}

a {
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
nav ul li a {
  line-height: 64px;
  padding: 10px 24px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #92a144;
  color: white;
}

a:hover {
  color: #92a144;
}

nav h2 {
  padding: 30%;
}


.first {
  padding-top: 100px; 
}




/* flexboxes for storing log-in and create account sections */
.container{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
	flex-shrink: 2;
	flex-grow: 0;
}

.flex-box{
	flex-basis: 40%;
	background-color: teal;
	margin: 1%;
	border-radius: 15px;
	gap: 7.5%;
  padding: 3.5%;
}

p {
	display: inline-block;
	width: 100%
}

button {
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: #0f0fff;
  /*this is used to centre the buttons in the flex box*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover{
	background-color: #ffffff;
}



/* General page css */
.main-content {
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
}
